.ContactForm {
  background-color: white;
  height: 100vh;
  .headingTwo {
    position: relative;
    left: 23px;
    padding-top: 16px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .ContactForm {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Form {
    height: 468px;
    width: 475px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, minmax(22px, auto));
    top: -40px;
    left: -48px;
    column-gap: 22.05px;
    row-gap: 19px;

    input {
      width: 275px;
      height: 50px;
    }
    textarea {
      width: 572px;
      height: 135px;
    }

    .headingTwo {
      // height: 58px;
      // margin-bottom: 0px;
      grid-column: 1/3;
      grid-row: 1;
      position: relative;
      left: -26px;
    }
    .firstName {
      grid-column: 1/3;
      grid-row: 2;
    }
    .lastName {
      grid-column: 3/5;
      grid-row: 2;
    }
    .title {
      grid-column: 1/3;
      grid-row: 3;
    }
    .email {
      grid-column: 3/5;
      grid-row: 3;
    }
    .message {
      grid-column: 1/5;
      grid-row: 4;
      position: relative;
      left: 2px;
      margin-top: 2px;
    }
    button {
      margin-top: 28px;
      grid-column: 1/5;
      grid-row: 5;
    }
  }
}
