.ContactForm {
  background-color: white;
  height: 100vh;
  .headingTwo {
    position: relative;
    left: 23px;
    padding-top: 16px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
  }
}
