html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #222222;
}
h1,
h2,
h3,
p {
  color: #222222;
}
input {
  color: #858585 color-contrast(#f5f5f5);
}
a {
  color: #debf79;
}
a:hover {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  color: #a48c55;
}
div {
  overflow: hidden;
}
main {
  display: grid;
  justify-items: center;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
