html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #222222;
}
h1,
h2,
h3,
p {
  color: #222222;
}
form {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
  position: relative;
  left: -8px;
}
input,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #858585 color-contrast(#f5f5f5);
  background-color: #f5f5f5;
  border: none;
  height: 50px;
  width: 341px;
  padding: 23px;
  resize: none;
}
textarea {
  text-align: left;
  height: 250px;
}
a {
  color: #debf79;
}
a:hover {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  color: #a48c55;
}
div {
  overflow: hidden;
}
main {
  display: grid;
  justify-items: center;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
button {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #ffffff;
  width: 130px;
  height: 45px;
  left: 142px;
  top: 831px;
  background: #debf79;
}
