@import 'colors';

.HeadingOne {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  position: relative;
  left: 23px;
  overflow: hidden;
  margin-bottom: 15px;

  h1 {
    color: $light-gray;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin-top: 0;
    margin-bottom: 0;
  }
  span {
    width: 211px;
    border: 2px solid $gold;
    margin-bottom: 10px;
  }
  p {
    color: $light-gray;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    width: 352px;
    overflow: hidden;
    margin-bottom: 64px;
  }
}
.HeadingOneForm {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  position: relative;
  left: 23px;
  overflow: hidden;
  margin-bottom: 15px;

  h1 {
    color: $light-gray;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin-top: 0;
    margin-bottom: 0;
  }
  span {
    width: 211px;
    border: 2px solid $gold;
    margin-bottom: 10px;
  }
  p {
    color: $light-gray;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    width: 352px;
    overflow: hidden;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .HeadingOne {
    left: 0px;
    p {
      width: 1248px;
    }
  }
  .HeadingOneForm {
    margin-top: 145px;
    margin-left: -20px;
    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 72px;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      width: 470px;
      height: auto;
      text-align: justify;
    }
  }
}
