@import 'colors';

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 25px;
  margin-top: 18px;
  margin-bottom: 21px;
  overflow: hidden;
  .ImageContainer {
    position: relative;
    margin-top: 4px;
    height: 45px;
    width: 225px;
    overflow: hidden;
  }
  .Contact {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $gold;
    position: relative;
    right: 57px;
    overflow: hidden;
    &:hover {
      cursor: pointer;
      color: #a48c55;
    }
  }
}
@media screen and (min-width: 1440px) {
  .NavBar {
    position: relative;
    left: 0px;
    margin-top: 52px;
    margin-bottom: 64px;
    .ImageContainer {
      position: relative;
      left: 0px;
      height: 73px;
      width: 350px;
    }
    .Contact {
      right: 0px;
    }
  }
}
